body {
    background-color: #a894ff;
    }

img{
    margin-top: 50px;
    display:block;
    margin-left:auto;
    margin-right:auto;    
    height: 210px;
    width: 700px; 
    }

a:link{
    text-decoration:none;
    }

#easy, #medium, #hard,#ranking {
  margin: 0 auto;
  height:50px;
  width:600px;
  background:#6bcaff;
  text-align:center;
  font-size:40px;
  background-size: 1px 300%;
  -webkit-transition:0.5s;
  transition:0.5s;
  color:#116da1;
  font-family: 'Raleway', sans-serif;
  cursor:pointer;
}

#easy:hover {
    background:rgb(255, 104, 210);
    color:white;
  -webkit-transform:rotate(-2deg);
    transform:rotate(-2deg);
}

#medium:hover {
      background:rgb(255, 104, 210);
      color:white;
    -webkit-transform:rotate(2deg);
      transform:rotate(2deg);
  }

#hard:hover {
      background:rgb(255, 104, 210);
      color:white;
    -webkit-transform:rotate(-2deg);
      transform:rotate(-2deg);
  }

#ranking:hover {
      background:rgb(255, 104, 210);
      color:white;
    -webkit-transform:rotate(2deg);
      transform:rotate(2deg);
  }